<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
</div>
 <div class="container">
<h2>Login to {{appTitle}}</h2>
   <div class="Form">
     <span>User-Name</span>
     <input type="text" [ngModel]="username" (ngModelChange)="username=$event" required>
    
   </div>
   <br>
   <div class="Form">
     <span>Password</span>
     <input type="password" [(ngModel)]="password"  required>
  </div>
  <br>
  <button [class.highlighted]="ishighlighted"  (click)="onclick()">Login</button>
 </div>
 <app-login [applogin]="Title"></app-login>
   <!--<h3>Full name and password is {{title}}</h3>
   <div>Username is: {{username}}</div>
   <div>Password is: {{password}}</div> -->
   <br>
   <div>
     <span>
    <!-- testing the class binding using class properties on button-->
   <button class="highlighted" (click)="ishighlighted=true">ON</button>
   <button (click)="ishighlighted=false">OFF</button></span>
</div>

